<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Users</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>this is the chat page</h1>
         <h2>Welcome to {{ chatlog["name"] }}!</h2>

        <div id="messages_container">
            <ul id="messages_list"></ul>
        </div>
        <label for="message_box"></label>
        <input type="textarea" id="message_box" value=""/>
        <button id="message_button" value="send">Send</button>
        
        <script>
            const cookies = document.cookie.split(';').map(item => item.split("="))
            let jwt = ""
            for(let i = 0; i < cookies.length; i++) {
                if(cookies[i][0] === "jwt") {
                    jwt = cookies[i][1];
                    break;
                }
            }
            

            const socket = io({
                autoConnect: true,
                extraHeaders: {
                    "user-auth": jwt
                }
            });
            socket.on('connect', () => {
                console.log("Connecting to server")
            });
            
            function handleMessageSend() {
                let msg_box = document.getElementById("message_box");
                const msg = msg_box.value;
                msg_box.value = "";
                socket.emit('message', msg)
            }

            document.getElementById("message_box").addEventListener("keyup", (event) => {
                if (event.key == "Enter") {
                    handleMessageSend();
                }
            });
            document.getElementById("message_button").addEventListener("click", (event) => {
                handleMessageSend();
            });

            // todo fasdklfjasklfjlasdkfjasdkfjklasdjfaskljfklasj
            // need to check empty message
            // receive message data payload configure

            socket.on('recieve_message', (data) => {
                console.log("receive: ", data)
                // msgs.push(msg);
                // console.log("msgs: ", msgs)
                // const msgs_list = document.getElementById("messages_list");
                // const new_item = document.createElement("li");
                // new_item.textContent = msgs[msgs.length-1];
                // new_item.name = "you"
                // msgs_list.append(new_item);
            });
        </script>
    </body>
</html>