<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Create a User</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body style="font-family: sans-serif">
        <h1>create a new user page</h1>
        <form method="post">
            <label for="username">Username </label>
            <input type="text" id="username" name="username"/>
            <label for="email">Email </label>
            <input type="email" id="email" name="email"/>
            <label for="password">Password </label>
            <input type="password" id="password" name="password"/>
            <button name="create_user" value="submit">Submit</button>
        </form>
        {% if error %}
            <p> {{ error }} </p>
        {% endif %}
    </body>
</html>