<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Homepage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form method="post">


            {% if not logged_in %}
                <button name="home_button" value="create_user">create new user</button>
                <button name="home_button" value="login_user">login</button>
            {% endif %}
            
            {% if logged_in %}
                <button name="home_button" value="chat">chat</button>
                <button name="home_button" value="users">users</button>
                <button name="home_button" value="profile">your profile</button>
                <button name="home_button" value="logout_user">logout</button>
            {% endif %}
        </form>
    </body>
</html>