<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Homepage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form method="post">
            <button name="home_button" value="login_user">Login</button>
            <button name="home_button" value="users">User</button>
            <button name="home_button" value="chat">Chat</button>
            <button name="home_button" value="logout_user">Logout</button>
        </form>
    </body>
</html>