<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Login</h1>
        <form method="post">
            <label for="email">Email</label>
            <input id="email_login" name="email" type="email" value={{ email if email else "" }}>
            <label for="pasword">Password</label>
            <input id="password_login" name="password" type="password">
            <button name="button" value="login">Submit</button>
        </form>
        {% if error %}
            {% if error == "1" %}
                <p>Invalid email.</p>
            {% elif error == "2" %}
                <p>Invalid password.</p>
            {% endif %}
        {% endif %}
    </body>
</html>