<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Users</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body style="font-family: sans-serif">
        <h1>this is the users page</h1>
        <p>Currently connected users</p>
        <ul>
            {% for user in users %}
                {% if user.current_chat_id != None %}
                    <li>{{user['username']}}: Room {{user.current_chat_id}}</li>
                {% endif %}
            {% endfor %}
        </ul>
        
        <form method="post">
            <button name="user_button" value="home">home</button>
            
            {% if not logged_in %}
                <button name="user_button" value="create_user">create new user</button>
                <button name="user_button" value="login_user">login</button>
            {% endif %}
            
            {% if logged_in %}
                <button name="user_button" value="profile">your profile</button>
                <button name="user_button" value="logout_user">logout</button>
            {% endif %}
        </form>
    </body>
</html>